@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {

  .flex-center {
      @apply flex justify-center items-center;
  }

  .input {
    @apply p-2 rounded-md border border-gray-300 text-xl w-full my-2 text-dark;
  }

  .btn {
    @apply p-2 rounded-md border-2 hover:border-8 border-black md:text-xl w-full my-2 text-gray-800 font-bold bg-yellowLight hover:border-gray-200 hover:transition-all hover:duration-500 hover:transform hover:bg-greenLight;
  }

  .card {
    @apply border-greenLight rounded-md shadow-md bg-white text-gray-800 my-4;
  }

  .card-img {
    @apply object-cover object-center w-full rounded-md h-72 bg-gray-500
  }

  .footer{
    @apply bg-white text-gray-600;
  }
}

