@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {

  .flex-center {
      @apply flex justify-center items-center;
  }

  .input {
    @apply p-2 rounded-md border border-gray-300 text-xl w-full my-2 text-dark;
  }

  .btn {
    @apply p-2 rounded-md border text-xl w-full my-2 text-dark font-bold bg-greenLight border-dark;
  }

  .card {
    @apply border-greenLight rounded-md shadow-md bg-gray-900 text-gray-50 my-4;
  }

  .card-img {
    @apply object-cover object-center w-full rounded-md h-72 bg-gray-500
  }

  .footer{
    @apply bg-gray-800 text-gray-50;
  }
}

